.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center
}

.header * {
    /* margin: 10px; */
    padding:  5px;

    color:  white;
}

.active {
    background-color: #292929;
    border: 1px #c3c3c3 solid;

    color: white;
}